:root {
  --background: #de3f6b;
  --background-light: #f55e88;
  --background-gray: #f5f7fa;
  --blue: #0693e3;
  --purple: #9b51e0;
  --gray: #abb8c3;
  --gray-light: #e9f1f7;
  --gray-dark: #495661;
  --black: #000000;
  --white: #ffffff;
  --yellow: #fcb900;
  --green: #00d084;
}